* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', serif;
    --bootstrap-gutter-x:0;
}
.row{
    margin: 0; padding: 0;
}
.carousel-indicators, .carousel-caption,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.serviceSec .col{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    padding:1px;
}
.card{
    width:18rem;
    text-align: justify;
}
#certificateDiv{
    background-image: url('../images/Certificate.jpeg');
    background-size: cover;
    background-position: center;
    min-width: 100%;
    min-height: 600px;
}
