* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', serif;
    --bootstrap-gutter-x:0;
}

#carouselExampleCaptions {
    width: 100%;
    height: 80%;
}

.carousel-item {
    height: 600px;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 600px;

}
.row{
    margin: 0; padding: 0;
}
.carousel-indicators, .carousel-caption,
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.serviceSec .col{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    padding:1px;
}